{% extends 'app/base.html' %}
{% block title %}Xác thực OTP{% endblock %}
{% block content %}
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nhập mã OTP</h5>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Xác thực</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
